{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
  <div>
    <canvas id="bar-chart1" width="600" height="200"></canvas>
  </div>
  <div>
    <canvas id="bar-chart2" width="600" height="200"></canvas>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>

  // Bar chart
  new Chart(document.getElementById("bar-chart1"), {
      type: 'bar',
      // responsive: false,
      // maintainAspectRatio: true,
      data: {
        labels : [{% for item in labels %}
                       "{{item}}",
                   {% endfor %}],
        datasets: [
          {
            label: "Total Sales",
            backgroundColor: "#cd6262",
            data : [{% for item in values1 %}
                      {{item}},
                    {% endfor %}]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: 'Total Sales by Date'
        }
      }
  });
  new Chart(document.getElementById("bar-chart2"), {
      type: 'horizontalBar',
      // responsive: false,
      // maintainAspectRatio: true,
      data: {
        labels : [{% for item in labels %}
                       "{{item}}",
                   {% endfor %}],
        datasets: [
          {
            label: "Avg Sale Value",
            backgroundColor: "#cd6262",
            data : [{% for item in values2 %}
                      {{item}},
                    {% endfor %}]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: 'Average Sale Value by Date'
        }
      }

  });
  </script>
{% endblock %}
