{% extends 'layout.html' %}

{% block heading %}
{% endblock %}

{% block body %}
  <div>
    <div>
      <h3>Edit</h3>
    </div>
    {% from '_formhelpers.html' import render_field %}
    <form method="post">
      <div>
        {{ render_field(form.date) }}
      </div>
      <div>
        {{ render_field(form.parts) }}
      </div>
      <div>
        {{ render_field(form.car_model) }}
      </div>
      <div>
        {{ render_field(form.item_count) }}
      </div>
      <div>
        {{ render_field(form.value) }}
      </div>
      <br />
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
{% endblock %}
