{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
  <div>
    <h3>Import one sale</h3>
    <div>
      <form action="{{ url_for('importing') }}" method="post">
        <div>
          <input name="date" placeholder="in YYYY-MM-DD form" type="date"></inpput>
        </div>
        <div>
          <input name="parts" placeholder="parts" type="text"></input>
        </div>
        <div>
          <input name="car_model" placeholder="car model" type="text"></input>
        </div>
        <div>
          <input name="item_count" placeholder="item count" type="number"></input>
        </div>
        <div>
          <input name="value" placeholder="value" type="float"></input>
        </div>
        <div>
          <input name="submit" type="submit"></input>
        </div>
      </form>
      <div>
        {{ message }}
      </div>
    </div>
  </div>
  <div>
    <div>
      <h3>Import from file</h3>
    </div>
    <div>
      <p>
        Supported files: .xls, .xlsx. Columns must be in the following order:

      </p>
      <p>
        Date, parts, car model, item count, value.
      </p>
    </div>
    <div>
      <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="Upload"/>
      </form>
    </div>
  </div>
{% endblock %}
