{% extends "layout.html" %}

{% block heading %}
{% endblock %}

  {% block body %}
    <div>
      <form action="{{ url_for('search') }}" method="post">
        <input name="search" placeholder="Search date" type="text"></input>
        <input name="submit" type="submit" />
      </form>
    </div>
    <br />
    <!-- <div>
      <label>Order by</label>
      <select name="Order_by">
        <option value="date">Date</option>
        <option value="id">Id</option>

      </select>
    </div>
    <br /> -->
    <div>
      <table>
        <thead style="font-weight:bold;">
          <td>Id</td>
          <td>Date</td>
          <td>Parts</td>
          <td>Car Model</td>
          <td>Item Count</td>
          <td>Value</td>

        </thead>
        <tbody>
          {% for sale in sales %}
          <tr>
            <td>{{sale.id}}</td>
            <td>{{sale.date}}</td>
            {% if sale.parts == None %}
              <td></td>
            {% else %}
            <td>{{sale.parts}}</td>
            {% endif %}
            {% if sale.car_model == None %}
              <td></td>
            {% else %}
            <td>{{sale.car_model}}</td>
            {% endif %}
            {% if sale.item_count == None %}
              <td></td>
            {% else %}
            <td>{{sale.item_count}}</td>
            {% endif %}
            {% if sale.value == None %}
              <td></td>
            {% else %}
            <td>{{sale.value}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock %}
